/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.speed-dial {
    z-index: 99999;
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}